body {
    background: url(https://gamerwall.pro/uploads/posts/2022-03/1646734935_4-gamerwall-pro-p-taksi-art-krasivie-oboi-4.png);
}
.table_dark {
    font-family: Lucida Console, Courier, monospace;
    font-size: 20px;
    width: 800px;
    text-align: center;
    border-collapse: collapse;
    background: #eca11e;
    margin: auto;
}
.table_dark th {
    color: #000000;
    border-bottom: 3px solid #000000;
    padding: 17px 17px;
}
.table_dark td {
    color: #000000;
    text-align: center;
    border-bottom: 5px solid #000000;
    border-right:5px solid #000000;
    padding: 10px 17px;
}
.table_dark tr:last-child td {
    border-bottom: none;
}
.table_dark td:last-child {
    border-right: none;
}
.table_dark tr:hover td {
    text-decoration: underline;
}
